@import variables.scss;

background-color: blue;

	padding:15%;
	
	image{
	padding: 16px 25px;
	
	height:150px;
	width:90px;
	float:left;
	}

	#form{
	padding-left:55px;
		input{
			padding-left:75px;
		}
	}