$customerRed:rgb(226,6,39);
$blue:#00b4b2;
$green:#00ffb2;
$red:#ef145f;
$pink:#dd2995;
$brown:#724f4f;
$padding:30px;
$yellow:#f6f6e0;
$margin:40px;
$wrapperWidth:1024-($padding *2);
$imageheight:95px;
$imagewidth:160px;
$align: center;
$wrapperWidth:1024-($padding *2);